.UIMapControl.cluster-hide>* {
    opacity: 0.1;
}
.UIMapControl.cluster-hide>.cluster-tutorial-icon {
    opacity: 1;
}

span.result-clickable.location {
    background: #BAF5BA;
}

.usr-icn li:after {
    content: attr(data-label);
    position: absolute;
    width: 100px;
    position: absolute;
    bottom: -25px;
    left: -3px;
}